current_directory = 'path\\to\\qr_code_python\\'
prua_slicer_path = 'path\\to\\prusa-slicer-console.exe'

public_key = '1234567890abc'
private_key = '1234567890abc'

grid_data = [personal_public_key, personal_private_key]
text = ["P u b", "P r v"]